<nav class="mainnav">
    <!-- Logo -->
    <div class="logocontainer_nav">
        <img src="assets/miniDragon.png" alt="User Image" class="logonav"/>
    </div>

    <!-- Botón hamburguesa -->
    <div class="menu-toggle" (click)="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <!-- Menú de navegación -->
    <div class="listitemsmenu" [ngClass]="{ 'active': menuActive }">
        <ul class="itemsdata">
            <li class="item_nav">
                <a [routerLink]="['/home']" routerLinkActive="router-link-active">about me</a>
            </li>
            <li class="item_nav">
                <a [routerLink]="['/projects']" routerLinkActive="router-link-active">my projects</a>
            </li>
            <li class="item_nav">
                <a [routerLink]="['/contact']" routerLinkActive="router-link-active">contact me</a>
            </li>
        </ul>
    </div>

    <!-- Botón de ir al repositorio -->
    <button class="contactmebtn">
        My repo 
        <i class="bi bi-arrow-up-right"></i>
    </button>
</nav>
