<div class="content">
    <h1 class="logo">Contact <span>Me</span></h1>

    <div class="contact-wrapper">
        <div class="contact-form">
            <h3>Contact Me</h3>
            <form action="">
                <p>
                    <label for="fullname">Nombre Completo</label>
                    <input type="text" name="fullname" id="fullname" required> 
                </p>

                <p>
                    <label for="email">Correo Electronico</label>
                    <input type="email" name="email" id="email" required>
                </p>

                <p>
                    <label for="phone">Telefono</label>
                    <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" required>
                </p>

                <p>
                    <label for="Affair">Asunto</label>
                    <input type="text" name="Affair" id="Affair">
                </p>

                <p class="block">
                    <label for="message">Mensaje</label>
                    <textarea name="message" id="message" rows="3"></textarea>
                </p>

                <p class="block">
                    <button type="submit">Enviar</button>
                </p>
            </form>
        </div>

        <div class="contact-info">
            <h4>Mas informacion</h4>
            <ul>
                <li><i class="bi bi-geo-alt-fill"></i>Bogota DC</li>
                <li><i class="bi bi-phone"></i>3046554890</li>
                <li><i class="bi bi-person-lines-fill"></i>kmilo0230@gmail.com</li>

                <p>En este formulario puedes contactarme para formalizar un proyecto o una oferta laboral mas rapido.
                </p>
                <p><i class="bi bi-linkedin"></i></p>
            </ul>
        </div>
    </div>
</div>
