<div class="ancho" [style.width]="'100%'">
    <h1 class="name">Camilo Ayala</h1>
    <h2 class="full">Full Stack Developer</h2>
    <h2>About Me</h2>
    <p>Soy un desarrollador full stack con experiencia en la creación de aplicaciones web escalables y soluciones de manejo de datos. 
        Tengo habilidades sólidas en tecnologías frontend como Angular, JavaScript y TypeScript, así como en backend con Java, C#, Spring Boot y Ruby. 
        También cuento con experiencia en bases de datos SQL, incluyendo PostgreSQL, y en prácticas de CI/CD con GitHub.
    </p>

    <p>Tengo un enfoque orientado al aprendizaje continuo, lo que me permite mantenerme actualizado con las últimas tendencias y tecnologías. 
        Además, he trabajado en entornos ágiles (Scrum) y poseo habilidades en la gestión de entornos en la nube como Azure y AWS, implementando soluciones tipo PaaS y gestionando RDS.
    </p>

    <h2>Projects</h2>
</div>


<div class="card">
    <div class="card-image">
        <img src="/assets/spline.jpeg" alt="Project Image">
    </div>
    <div class="card-text">
        <span class="date">4 days ago</span>
        <h2>Post One</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur veniam cumque accusamus consequuntur.</p>
    </div>
    <div class="card-stats">
        <div class="stat">
            <div class="value">4<sup>m</sup></div>
            <div class="type">read</div>
        </div>
        <div class="stat border">
            <div class="value">5123</div>
            <div class="type">views</div>
        </div>
        <div class="stat">
            <div class="value">1</div>
            <div class="type">commit</div>
        </div>
    </div>
</div>