<div class="container">
  <main>
    <section class="hero">
      <div class="hero-image">
        <img
          src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/image-tNMprOm13cC9xoGBrI2TyBa6n3VGAK.png"
          alt="Technology Logo"
        />
      </div>
      <div class="hero-content">
        <h1>{{ title }}</h1>
        <br />
        <p class="text-data">{{ description }}</p>
        <br />
        <p class="text-data">
          Mi compromiso con el aprendizaje continuo me impulsa a mantenerme
          actualizado con las últimas tendencias y tecnologías del sector, lo
          que me permite aportar valor a proyectos innovadores. Estoy en
          búsqueda de nuevas oportunidades donde pueda seguir creciendo y
          aplicar mis conocimientos para desarrollar soluciones que resuelvan
          los desafíos más complejos.
        </p>
      </div>
    </section>

    <section class="technologies">
      <br />
      <h2>Technologies</h2>
      <div class="tech-list">
        <a
          *ngFor="let tech of technologies"
          class="tech-badge"
          [href]="tech.url"
          target="_blank"
          >{{ tech.name }}</a
        >
      </div>
    </section>

    <section class="education">
      <h2>Education</h2>
      <div class="timeline">
        <div
          *ngFor="let edu of user.education"
          class="timeline-item"
          [attr.date-is]="edu.yearRange"
        >
          <div class="timeline-icon"></div>
          <div class="timeline-content">
            <p><strong>Titulo:</strong> {{ edu.degree }}</p>
            <p><strong>Centro Educativo:</strong> {{ edu.university }}</p>
            <!-- <p><strong>Año:</strong> {{ edu.yearRange }}</p> -->
            <p class="gpa"><strong>GPA:</strong> {{ edu.gpa }}</p>
          </div>
        </div>
      </div>
    </section>

    <section class="exp">
      <h2>Experience</h2>
      <div class="Experience-item">
        <div>
          <p><strong>Empresa:</strong> {{ experience.company }}</p>
          <p><strong>Puesto:</strong> {{ experience.position }}</p>
          <p>
            <strong>Tiempo en la empresa:</strong> {{ experience.yearRange }}
          </p>
          <p>
            <strong>Descripcion de funciones:</strong>
            {{ experience.description }}
          </p>
          <button (click)="openModal()" class="open-modal-btn">Mas info</button>
        </div>
      </div>
    </section>

    <!-- Modal Para mas informacion de la exp -->


    <section class="projects">
      <h2>Projects</h2>
      <div class="project-list">
        <div *ngFor="let project of user.projects" class="project-card">
          <div class="project-info">
            <h3>{{ project.name }}</h3>
            <p>{{ project.description }}</p>
            <button type="button" (click)="viewProject(project)">
              View project
            </button>
          </div>
          <div class="project-image">
            <img [src]="project.imageUrl" [alt]="project.name" />
          </div>
        </div>
      </div>
    </section>

    <section class="social-media">
      <h2>Social Media</h2>
      <div class="social-links">
        <button type="button" (click)="goToLinkedIn()">
          <i class="bi bi-linkedin"></i> LinkedIn
        </button>
        <button type="button" (click)="goToGitHub()">
          <i class="bi bi-github"></i> GitHub
        </button>
        <button type="button" (click)="goToTwitter()">
          <i class="bi bi-twitter"></i> Twitter
        </button>
      </div>
    </section>
  </main>
</div>
